@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Poppins', sans-serif;

  /* Cor da Marca */
  --brand-color: #ef5f4c;

  /* Shape */
  --background-color: #ffffff;
  --surface-color: #f5f5f5;
  --skeleton-color: #d9d9d9;
  --shape-transparency: #ffffff91;

  /* Textos */
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  /* Fontes */
  --font-family: 'Poppins', sans-serif;
  --text-lg: bold 32px/120% var(--font-family);
  --text: 16px/1.5 var(--font-family);
  --text-md: 14px/170% var(--font-family);
  --text-sm: 12px/170% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}
